In [25]:
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.parse import urlparse

In [101]:
# url = "https://macxima.medium.com/python-extracting-domain-name-from-urls-using-regular-expressions-7fa2fc13088e"
url = "https://twitter.com/James_Kpatrick/status/320150923336892416/photo/1"

In [120]:
def get_title(url):
    soup = BeautifulSoup(urlopen(url))
    return soup.title.get_text()

def get_domain(url):
    domain = urlparse(url).netloc
    dot_split = domain.split(".")
    if len(dot_split) > 2:
        return ".".join(dot_split[1:])
    else:
        return domain

In [116]:
domain = urlparse(url).netloc

In [117]:
domain.split(".")

['twitter', 'com']

In [118]:
try:
    print(get_title(url))
except:
    print("error")

error

In [119]:
get_domain(url)

'twitter.com'

In [ ]:
# try on pandas

In [83]:
import sqlite3
import pandas as pd
import re

In [72]:
cnx = sqlite3.connect("../home.db")
df_tweets = pd.read_sql_query("SELECT id, full_text FROM tweets", cnx)

In [73]:
df_tweets

                        id                                          full_text
0        70261648811761665  I wish I had kept my 1,700 BTC @ $0.06 instead...
1       303962112307363840  If corporate America built its own low orbit i...
2       320150923336892416  These two books contain the sum total of all h...
3       334391242395906048               I really do enjoy following @Aelkus.
4       380578576283611136  I'm just going to fill my van with dildos and ...
...                    ...                                                ...
44126  1348695626112856065  There were business executives and elected off...
44127  1348695666659360772  Ten years ago today in Techmeme historyðŸ“œ, Appl...
44128  1348695907559038976  RT @80Level: Have a look at a wave shader for ...
44129  1348696173880758274  Many younger people on twitter will realise th...
44130  1348696253102764039  here we get to the part of the book where "oh ...

[44131 rows x 2 columns]

In [76]:
urls = df_tweets[df_tweets["full_text"].str.contains("http")]

In [122]:
urls

                        id                                          full_text
2       320150923336892416  These two books contain the sum total of all h...
8       451159870306549761  Course slides from @Stanford and @stanfordsyms...
12      561051099423993856  This is my favorite drone picture ever, https:...
13      574518676575162369  Robert Capa's Omaha Beach by Dominique Bertail...
14      605933110958518272  Any assault on Mother Nature will be a suicide...
...                    ...                                                ...
44120  1348695099211878400  I get the temptation to deride these people as...
44121  1348695219496235008  Head of an Italian Girl, 1878 #johnsingersarge...
44124  1348695315721973762  RT @counterfax: These Books Contain The Sum To...
44127  1348695666659360772  Ten years ago today in Techmeme historyðŸ“œ, Appl...
44129  1348696173880758274  Many younger people on twitter will realise th...

[25469 rows x 2 columns]

In [90]:
def find_url(tweet):
    return re.findall("http\S+", tweet)

In [93]:
find_url(tweet)

['https://twitter.com/James_Kpatrick/status/320150923336892416/photo/1']

In [97]:
get_urls = find_url(tweet)

In [98]:
get_urls

['https://twitter.com/James_Kpatrick/status/320150923336892416/photo/1']

In [121]:
get_domain(url)

'twitter.com'

In [99]:
for i in get_urls:
    print(get_domain(tweet))

In [125]:
urls['urls'] = urls.full_text.apply(find_url)

<ipython-input-125-a4ad336a4272>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  urls['urls'] = urls.full_text.apply(find_url)

In [139]:
urls.urls.str.len()

2        1
8        1
12       1
13       2
14       1
        ..
44120    1
44121    1
44124    1
44127    1
44129    1
Name: urls, Length: 25469, dtype: int64

In [141]:
test_url = urls.urls[13]

In [142]:
test_url

['http://bandedessinee.blog.lemonde.fr/2014/06/06/robert-capa-entre-noir-et-blanc-et-clair-obscur/',
 'https://twitter.com/JDMorvan/status/574518676575162369/photo/1']

In [145]:
for i in test_url:
    print(get_domain(i))

blog.lemonde.fr
twitter.com

In [169]:
urls['domains'] = urls.urls.apply(lambda x: [get_domain(d) for d in x])

<ipython-input-169-03cb393cef76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  urls['domains'] = urls.urls.apply(lambda x: [get_domain(d) for d in x])

In [170]:
print(urls.iloc[2].domains)

['twitter.com']

In [171]:
urls

,id,full_text,urls,domains
2,320150923336892416,These two books contain the sum total of all h...,[https://twitter.com/James_Kpatrick/status/320...,[twitter.com]
8,451159870306549761,Course slides from @Stanford and @stanfordsyms...,[http://stanford.edu/~zdar/week1.pdf],[stanford.edu]
12,561051099423993856,"This is my favorite drone picture ever, https:...",[https://twitter.com/grahamvsworld/status/5610...,[twitter.com]
13,574518676575162369,Robert Capa's Omaha Beach by Dominique Bertail...,[http://bandedessinee.blog.lemonde.fr/2014/06/...,"[blog.lemonde.fr, twitter.com]"
14,605933110958518272,Any assault on Mother Nature will be a suicide...,[https://twitter.com/wrathofgnon/status/605933...,[twitter.com]
...,...,...,...,...
44120,1348695099211878400,I get the temptation to deride these people as...,[https://www.theatlantic.com/ideas/archive/202...,[theatlantic.com]
44121,1348695219496235008,"Head of an Italian Girl, 1878 #johnsingersarge...",[https://twitter.com/artistsargent/status/1348...,[twitter.com]
44124,1348695315721973762,RT @counterfax: These Books Contain The Sum To...,[https://twitter.com/counterfax/status/1348695...,[twitter.com]
44127,1348695666659360772,"Ten years ago today in Techmeme historyðŸ“œ, Appl...",[https://www.techmeme.com/110111/h2200],[techmeme.com]
44129,1348696173880758274,Many younger people on twitter will realise th...,[https://www.theguardian.com/sport/2021/jan/11...,[theguardian.com]

In [164]:
url_list = urls.urls[13]

In [165]:
[get_domain(d) for d in url_list]

['blog.lemonde.fr', 'twitter.com']