In [13]:
import pandas as pd
from bs4 import BeautifulSoup
from urllib.request import urlopen
from urllib.parse import urlparse

In [60]:
news = pd.read_csv("uci-news-aggregator.csv")

In [85]:
news.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,domains,HOSTNAME1
418739,419258,Judge Rejects Apple's Attempt to Block Sale of...,http://www.1011now.com/home/headlines/Judge-Re...,1011now,t,dZ_8x5lVHdOV3OMSqo3kJlCBY3hdM,www.1011now.com,1409204592031,1011now.com,1011now.com
418379,418898,Spiders have forced Suzuki to recall more than...,http://www.10news.com/money/consumer/spiders-f...,10News,t,dBfDgNwT03XA8wMpl6xZVsqkpPeAM,www.10news.com,1409200768287,10news.com,10news.com
412210,412729,S&P tops 2000... Fewer new homes bought... Son...,http://www.10tv.com/content/stories/apexchange...,10TV,b,dk6ynYIHv7N1ZfME3VPp1B6TrZCnM,www.10tv.com,1408994657924,10tv.com,10tv.com
211769,212215,Student debt-laden college grads under 40 have...,http://www.1150wima.com/articles/national-news...,WIMA,b,d2ZI8O50kacERzMVzH40TPizKhQKM,www.1150wima.com,1400372498604,1150wima.com,1150wima.com
415635,416154,"Beyonce Gives Flawless Performance, Accepts Vi...",http://www.1190kex.com/articles/entertainment-...,KEX,e,dGQEVNbJW9QVL5MuoTBlFVEDBYiwM,www.1190kex.com,1409025935804,1190kex.com,1190kex.com

In [84]:
news.iloc[1].HOSTNAME

'www.10news.com'

In [62]:
news.HOSTNAME.unique().size

11236

In [63]:
def get_domain(url):
    domain = urlparse(url).netloc
    dot_split = domain.split(".")
    if len(dot_split) > 2:
        return ".".join(dot_split[1:])
    else:
        return domain

In [64]:
news['domains'] = news.URL.apply(get_domain)

In [75]:
def remove_www(x):
    dot_split = x.split(".")
    if len(dot_split) > 2:
        return ".".join(dot_split[1:])
    else:
        return x

In [76]:
news["HOSTNAME1"] = news.HOSTNAME.apply(remove_www)

In [77]:
news.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,domains,HOSTNAME1
0,1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698,latimes.com,latimes.com
1,2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207,livemint.com,livemint.com
2,3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371550,ifamagazine.com,ifamagazine.com
3,4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793,ifamagazine.com,ifamagazine.com
4,5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027,moneynews.com,moneynews.com

In [78]:
news[news.HOSTNAME1 != news.domains]

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,domains,HOSTNAME1
112713,112949,Google Glass on sale in the US for $1500 and o...,http://di-ve.com:8080/business-technology/goog...,Di-Ve.com,t,ds-c0hCe-TNfsiM2X6ng2OUYDZ93M,di-ve.com,1397512295989,di-ve.com:8080,di-ve.com

In [79]:
news = news.drop_duplicates(subset="HOSTNAME1", keep="last").sort_values(by="domains")

In [80]:
news.HOSTNAME1.unique().size

9630

In [81]:
news.head()

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP,domains,HOSTNAME1
418739,419258,Judge Rejects Apple's Attempt to Block Sale of...,http://www.1011now.com/home/headlines/Judge-Re...,1011now,t,dZ_8x5lVHdOV3OMSqo3kJlCBY3hdM,www.1011now.com,1409204592031,1011now.com,1011now.com
418379,418898,Spiders have forced Suzuki to recall more than...,http://www.10news.com/money/consumer/spiders-f...,10News,t,dBfDgNwT03XA8wMpl6xZVsqkpPeAM,www.10news.com,1409200768287,10news.com,10news.com
412210,412729,S&P tops 2000... Fewer new homes bought... Son...,http://www.10tv.com/content/stories/apexchange...,10TV,b,dk6ynYIHv7N1ZfME3VPp1B6TrZCnM,www.10tv.com,1408994657924,10tv.com,10tv.com
211769,212215,Student debt-laden college grads under 40 have...,http://www.1150wima.com/articles/national-news...,WIMA,b,d2ZI8O50kacERzMVzH40TPizKhQKM,www.1150wima.com,1400372498604,1150wima.com,1150wima.com
415635,416154,"Beyonce Gives Flawless Performance, Accepts Vi...",http://www.1190kex.com/articles/entertainment-...,KEX,e,dGQEVNbJW9QVL5MuoTBlFVEDBYiwM,www.1190kex.com,1409025935804,1190kex.com,1190kex.com

In [82]:
news.HOSTNAME1.to_csv("news_sites.csv")

In [38]:
!ls

'auth and get friends.ipynb'   old_db.py
 auth.json		       old_utils.py
 cli_click.py		       plan.md
 db.ipynb		       __pycache__
 db.py			      'save profile.ipynb'
 dbsw.py		       t
'embed tweet.ipynb'	      'twitter api 2 context annotations.ipynb'
'extract from url.ipynb'       twitter.db
'hud queries.ipynb'	       uci-news-aggregator.csv
 __init__.py		       Untitled.ipynb
 news_sites.csv		      'upload to collection.ipynb'
'news sites domains.ipynb'